<p>以下の問いに答えよ．</p>
    <ol>
      <li>
        <p>$x \geqq 0$ のとき，<br>
        $\displaystyle x - \frac{x^3}{6} \leqq \sin x \leqq x$ が成り立つことを示せ．</p>
      </li>
      <li>
        <p>$0 \leqq x \leqq \log 2$ のとき，<br>
        $1 + x \leqq e^x \leqq 1 + x + x^2$ が成り立つことを示せ．</p>
      </li>
      <li>
        <p>不定積分 $\displaystyle \int \log x\,dx$ を求めよ．</p>
      </li>
      <li>
        <p>極限<br>
        $\displaystyle \lim_{n\to\infty}\int_{1}^{2}n\sin\bigl(\sin(x^{\frac{1}{n}}-1)\bigr)\,dx$<br>
        を求めよ．</p>
      </li>
    </ol>
