<p>
  $n$ を $0$ 以上の整数とし，$I_n = \displaystyle\int_0^1 (\log(1+t))^n\,dt$,
  $R_n(x) = \tfrac{1}{n!}\displaystyle\int_0^x (x-t)^n e^t\,dt$
  とおくとき，以下の問いに答えよ．
</p>
<p>1. $n\geqq1$ に対して $R_n(x)$ を $n$ および $R_{n-1}(x)$ を用いて表せ．</p>
<p>2. $n\geqq1$ に対して $I_n$ を $n$ および $I_{n-1}$ を用いて表せ．</p>
<p>3. $n\geqq0$ に対して $I_n$ を $n$ および $R_n(x)$ を用いて表せ．</p>
<p>4. $\displaystyle\lim_{n\to\infty}\frac{I_n}{I_{n-1}}$ を求めよ．ただし $x\neq0$ のとき
  $\displaystyle\lim_{n\to\infty}\frac{(n+1)R_n(x)}{R_{n-1}(x)}=x$
  が成り立つことを用いてよい．</p>
